{% extends 'base.html.twig' %}
{# TODO lien de tuto #}
{# https://www.youtube.com/watch?v=obv0t92plQg #}
{% block body %}
    <div class="container mt-5">
        <h3>Bienvenue sur notre site</h3>
        <button class="btn btn-success" id="click">Il faut cliquer ici !</button>
    </div>
    {{ encore_entry_script_tags('home') }}
{% endblock %}

